.env
.venv/
.pytest_cache/
__pycache__/
*.py[cod]
*.log
*.sqlite3

binance_account_monitor.egg-info/
monitor.runtime.log

config/binance_monitor_accounts.json

data/*.db
data/*.db-shm
data/*.db-wal

.DS_Store
Thumbs.db
